@model IEnumerable<WCDataConnector.Models.Top10Destination>

@{
    ViewData["Title"] = "Top10Destination";
}


<h1>Top10Destination</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Destination</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Destination

                <td>


                <td>
                    @item.Count
                    <!--
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        -->
                </td>
            </tr>
        }
    </tbody>
</table>
